.Container {
    width: 98vw;
    box-sizing: border-box;
    position: relative;
}

.Header {
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  background-color: #333;
  border-bottom: 2px solid #ffbc00;
  position: fixed;
  top: 0;
  z-index: -10;
}

.Content{
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    top: 200px;
    z-index: -11;
    display: flex;
    justify-content:center;
    flex-wrap:wrap;
    margin-bottom: 40px;
    overflow: hidden;
}

.Heading{
        text-align: center;
        font-size: 50px;
        position: absolute;
        text-decoration: underline;
        text-decoration-color: #ffbc00;
        top: 70px;
        width: 100%;
} 

@media only screen and (max-width: 768px)
{
    
}